## Write-only (binary): $(NAME)

record(bo, "$(P)$(R)$(NAME)_OUT") {
    field(DESC, "$(DESC)")
    field(DTYP,"asynInt32")
    field(OUT,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))$(FUNC)")
    field(FLNK, "$(FLNK)")
    field(ZNAM,"$(ZERO)")
    field(ONAM,"$(ONE)")
    field(TPRO, "1")
}
